{{>headeradmin}}

<div id="app"></div>

{{>navbar}}
<style>
 

footer {
  padding: 200px;
}

</style>

<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Dashboard</li>
    </ul>
    <a href="https://justboil.me/" onclick="alert('Coming soon'); return false" target="_blank" class="button blue">
      <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
      <span>Premium Demo</span>
    </a>
  </div>
</section>

<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
      Dashboard {{user.username}}
    </h1>
    <button class="button light">Button</button>
  </div>
</section>

  <section class="section main-section">
    <div class="grid gap-6 grid-cols-1 md:grid-cols-3 mb-6">
      <div class="card">
        <div class="card-content">
          <div class="flex items-center justify-between">
            <div class="widget-label">
              <h3>
                Basic
              </h3>
              <h1>
                ₹0/month
              </h1>
            </div>
            {{!-- <span class="icon widget-icon text-green-500"><i class="mdi mdi-account-multiple mdi-48px"></i></span> --}}
            <span class="icon widget-icon text-blue-500">
  <i class="mdi mdi-calendar mdi-36px"></i>
  <i class="mdi mdi-cash mdi-36px"></i>
</span>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="flex items-center justify-between">
            <div class="widget-label">
              <h3>
                Starter
              </h3>
              <h1>
                ₹625/month
              </h1>
            </div>
  <span class="icon widget-icon text-blue-500">
  <i class="mdi mdi-calendar mdi-36px"></i>
  <i class="mdi mdi-cash mdi-36px"></i>
</span>          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="flex items-center justify-between">
            <div class="widget-label">
              <h3>
                Business
              </h3>
              <h1>
                ₹1,345/month
              </h1>
            </div>
  <span class="icon widget-icon text-blue-500">
  <i class="mdi mdi-calendar mdi-36px"></i>
  <i class="mdi mdi-cash mdi-36px"></i>
</span>          </div>
        </div>
      </div>
    </div>


  </section>


{{>adminfooter}}
